.banner{
    background-image: url('/Assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 750px;
    margin-bottom: 116px;
    
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}

.logo{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;

}

.btn{
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
}
.btn:hover{
    font-size: large;
    background-color: #252432;
    cursor:pointer;
}

.banner-title{
    font-size: 50px;
    font-weight: bold;
    color: #252432;
    height: 100px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    
   
}
.btn-anchor{
    text-decoration: none;
    color: #FFFFFF;

}

.banner-content{
    display: block;
}

.banner-btn{
    /* position: absolute; */
    /* bottom: 50px; */
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 170px;
}

.action{
    display: flex;
    justify-content: space-between;
    max-width: 1350px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 116px;

}

.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    height: 0;
    margin-bottom: 60px;
}

.action-description{
    font-size: 25px;
    color: #8987A1;
    height: 0;
    margin-bottom: 80px;
    text-overflow:ellipsis;
}

.action-picture{
    height: 300px;
    border-radius: 45px;
}


.users-pro-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    line-height: 0;
}

.pro-value{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    line-height: 0;

}

.pro-text{
    font-size: 20px;
    color: #6b6363f6;
    line-height: 0;
}

.pro-container{
    display: flex;
    justify-content: space-around;
    

}

.users-pro{
    max-width: 1350px;
    text-align: center;
    background-color: #cecde7;
    height: 290px;
    margin: 0 auto;
    padding: 50px 0px 15px;
    margin-bottom: 137px;
    

}

.feedback-headline{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}

.feedback-title{
    font-size: 30px;
    font-weight: bold;
    line-height: 0;

}

.feedback-subtitle{
    font-size: 18px;
    
    
}

.reviewer{
    display: flex;
    align-items:end;
    gap: 10px;
}

.reviewer-pic{
    height: 60px;
    width: 60px;
    border: 1px solid white;
    border-radius:30px;
}

.name{
    font-size: 25px;
    line-height: 0;
}
.date{
    font-size: 18px;
    line-height: 0;
    color: #5a5a64;
}

.reviewer-name-date{
    margin-top: 24px;
    
}


.feedback-cell{
    height: 245px;
    width: 366px;
    padding: 24px 24px;
    background-color: rgb(230, 223, 223);
}

.feedback-cell-container{
    display: flex;
    justify-content: space-between;
}

.users-feedback{
    max-width: 1350px;
    margin: 0 auto;
}







