.banner{
    background-image: url('/Assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 750px;
    margin-bottom: 116px;
    
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}

.logo{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;

}

.btn{
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
}
.btn:hover{
    font-size: large;
    background-color: #252432;
    cursor:pointer;
}

.banner-title{
    font-size: 50px;
    font-weight: bold;
    color: #252432;
    height: 100px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    
   
}
.btn-anchor{
    text-decoration: none;
    color: #FFFFFF;

}

.banner-content{
    display: block;
}

.banner-btn{
    /* position: absolute; */
    /* bottom: 50px; */
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 170px;
}

.action{
    display: flex;
    justify-content: space-between;
    max-width: 1350px;
    margin: 0 auto;
    align-items: center;

}

.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    height: 0;
    margin-bottom: 60px;
}

.action-description{
    font-size: 25px;
    color: #8987A1;
    height: 0;
    margin-bottom: 80px;
    text-overflow:ellipsis;
}

.action-picture{
    height: 300px;
    border-radius: 45px;
}


